
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myf;
  transition: 0.5s;
}
body {
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(4px);
    top: 0%;
  }
 svg {
    width: 330px;
    margin: 0px auto;
    position: absolute;
  }
 path {
    stroke-width: 4.4px;
    stroke-dasharray: 3710px;
    stroke-dashoffset: 3710px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
    stroke: #fff;
    animation: animate 6.9s linear forwards;
  }
  @keyframes animate {
    95% {
      fill: transparent;
    }
    100% {
      stroke-dashoffset: 0px;
      fill: #fff;
    }
  }