* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  transition: 0.5s;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
section {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}
header {
  width: 80%;
  height: 90px;
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(1.3);
  top: 0px;
  z-index: 10;
}
header > h2 {
  position: absolute;
  left: 70px;
  text-decoration: underline;
  -webkit-text-stroke: 0.3px #62daf8;
}
.header {
  width: 50px;
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 70px;
  transition: 0.5s;
  background: rgba(225, 225, 225, 0.4);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
}
.header > a {
  color: black;
  font-weight: 900;
  font-size: 20px;
  margin: 5px;
  text-decoration: none;
  display: none;
}
.header > span {
  color: black;
  font-weight: 900;
  font-size: 20px;
  margin: 5px;
  text-decoration: none;
  color: black;
}
.header > span > a {
  color: black;
}
header:hover .header {
  width: 200px;
}
header:hover a {
  display: block;
}
.head {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.block {
  width: 100px;
  height: 100px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  position: absolute;
  z-index: -3;
}
.block:nth-child(even) {
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}
.headcontainer {
  width: 80%;
  position: relative;
  border: 1px solid black;
  padding: 20px;
  background: rgba(225, 225, 225, 0.4);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: box 3s linear infinite;
}
@keyframes box {
  100% {
    filter: hue-rotate(360deg);
  }
}
.headcontainer > .red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
}
.headcontainer > h1 {
  margin-bottom: 10px;
}
b {
  text-decoration: underline;
}
.blink {
  font-weight: 900;
  font-size: 15px;
  position: relative;
}
.animation1par {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px;
}
.animation1 {
  width: 60%;
  height: 80vh;
  display: none;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  transition: 0.4s;
  transform: scale(0.5);
  padding: 10px;
}
.box {
  width: 50px;
  height: 50px;
  background: rgba(225, 225, 225, 0.4);
  border-radius: 10px;
}
.box:nth-child(3n + 1) {
  background-color: orange;
}
.animation1text {
  width: 400px;
  padding: 20px;
  text-align: left;
  font-weight: 200;
  background: rgba(225, 225, 225, 0.4);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#preloader {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  transition: 0.5s;
}

svg {
  width: 330px;
  margin: 0px auto;
  position: absolute;
  transform: scale(1.4);
}
path {
  stroke: #000000;
  stroke-width: 1.4px;
  stroke-dasharray: 600px;
  stroke-dashoffset: 600px;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: animate 3s ease-in forwards;
  animation-delay: 1s;
}
@keyframes animate {
  from {
    fill: transparent;
  }
  to {
    fill: #000000;
    stroke-dashoffset: 0px;
  }
}

.content {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 255, 245);
  font-weight: 800;
  z-index: 3;
}

.temp {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 20px 0px 20px;
}
.tempbox {
  width: 50px;
  height: 50px;
  background: rgba(225, 225, 225, 0.4);
  border-radius: 10px;
}
.tempbox:nth-child(3n + 1) {
  background-color: #3e41c9;
  opacity: 50%;
}

.tempmaincontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background: rgba(00, 00, 00, 0.6);
}

.tempheader {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(225, 225, 225, 0.4);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 10px;
  font-size: 40px;
  font-weight: 900;
}
.tempmaincon {
  width: 100%;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
}

.tempmain {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(225, 225, 225, 0.4);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 1);
  margin: 10px;
  overflow: hidden;
  position: re;
}
.tempmain::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  top: 10px;
  right: 10px;
  z-index: 2;
  transition: 0.5s;
}
.tempmain:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  top: 0px;
  right: 0px;
}
.tempmain > p {
  z-index: 3;
}
.tempmain > p:nth-child(1) {
  font-size: 70px;
}
.tempmain > p:nth-child(2) {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}
.animejs {
  width: 100%;
  height: 100vh;
  position: relative;
  border: 10px solid black;
}
.animejs > iframe {
  width: 100%;
  height: 100vh;
}
